{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>FHE-enabled SARS-CoV-2 Sequence Classifier (Server-Side)</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
  </head>

  <body>

    <form action="{% url 'classifier:start_classification' %}" method="post">
      {% csrf_token %}
      <div class="form-group mt-3" hidden>
          <label class="mr-2">Upload your encrypted inputs:</label>
          <input type="file" name="file">
      </div>
      <div class="form-group mt-3" hidden>
          <label class="mr-2">Upload your evaluation keys (.ekl):</label>
          <input type="file" name="keys_file">
      </div>
    </form>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">FHE-enabled SARS-CoV-2 Sequence Classifier</h1>
          <p>This is the homepage for the server-side application of an FHE-enabled SARS-CoV-2 classification system. This site hosts links to the Github repository of the application, and the download link for the client GUI app (requirements are listed in requirements.txt in the Github repository).</p>
          <p><a class="btn btn-primary btn-lg" href="https://github.com/bjorgkav/concreteml-covid-classifier" role="button" target="_blank">Access the Github repository &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Technologies Used</h2>
            <ul>
              <li><a href="https://github.com/zama-ai/concrete-ml" target="_blank" rel="noopener noreferrer">Concrete-ML v1.0.3</a></li>
              <li><a href="https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer">Django Framework v4.2.1</a></li>
              <li><a href="https://github.com/dnbaker/dashing" target="_blank" rel="noopener noreferrer">Dashing by dnbaker</a></li>
              <li><a href="https://github.com/TomSchimansky/CustomTkinter" target="_blank" rel="noopener noreferrer">CustomTkinter v5.1.3</a></li>
              <li><a href="https://pandas.pydata.org/" target="_blank" rel="noopener noreferrer">Pandas v2.0.1</a></li>
            </ul>
            <p><a class="btn btn-secondary" href="https://github.com/bjorgkav/concreteml-covid-classifier/blob/main/requirements.txt" target="_blank" role="button">Show more &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Client-side application</h2>
            <p>This classification system is intended to be used with the client-side GUI application, which can be accessed here (see requirements.txt for the required packages):</p>
            <p><a class="btn btn-secondary" href="https://github.com/bjorgkav/concreteml-covid-classifier/blob/main/client/GUI/Client_GUI_App.py" role="button">Download the Client-side GUI Application &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>SARS-CoV-2 Strains Currently Supported</h2>
            <ul>
              {% for value in classes_list.values %}
              <li>{{ value }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>Website developed by Johann Benjamin P. Vivas (last updated June 3, 2023)</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
