{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FHE-enabled SARS-CoV-2 Sequence Classifier (Server-Side)</title>
    <link rel="stylesheet" href="{% static 'getform.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <div class="col-md-6 offset-md-3 mt-5">
        <h1>FHE-enabled SARS-CoV-2 Sequence Classifier (Server-Side)</h1>
        <p>Powered by Concrete-ML</p>
        <hr>

        <p>Submit your encrypted inputs and evaluation keys to the classifier to have your encrypted sequences classified between the following variants:</p>

        <ul>
            {% for key, value in classes_list.items %}
                <li> {{ value }} </li>
            {% endfor %}
        </ul>

        <p>Note that your prediction output will be a downloadable .ZIP file containing the .enc prediction files for each of your submitted strains.</p>

        <form accept-charset="UTF-8" action="{% url 'classifier:start_classification' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mt-3">
                <label class="mr-2">Upload your encrypted inputs:</label>
                <input type="file" name="file">
            </div>
            <div class="form-group mt-3">
                <label class="mr-2">Upload your evaluation keys (.ekl):</label>
                <input type="file" name="keys_file">
            </div>
            <!-- {{ form.as_p }} -->
            <hr>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> 
</body>
</html>